@import './improvements/variables';
@import './improvements/mixins';
@import './improvements/placeholders';

@import './landing_styles/header';
@import './landing_styles/nav';
@import './landing_styles/introduce';
@import './landing_styles/about';
@import './landing_styles/footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}