@import './improvements/variables';
@import './improvements/mixins';
@import './improvements/placeholders';

@import './landing_styles/header';
@import './landing_styles/nav';
@import './landing_styles/introduce';
@import './landing_styles/join';
@import './landing_styles/contact';
@import './landing_styles/footer';

@import './customer_styles/customer_main';

:root {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    // background-image: url('./../img/45degreee_fabric.png');
    background-image: url('./../img/chad-montano-MqT0asuoIcU-unsplash.jpg');
    background-size: cover;
    font-family: $primaryFont;
}