.about {
    width: 100%;
    display: flex;
    font-size: 2rem;
    overflow: hidden;
    &__title {
        font-family: $decorativeFont;
        padding: 30px;
        flex-basis: 30%;
        font-size: 64px;
        order: 2;
        text-align: center;
        transform: rotate(-30deg);
    }
    &__content {
        flex-basis: 70%;
        order: 1;
        padding: 30px;
        &--author {
            text-align: center;
        }
    }
}