header.header {
    background-color: $lightPrimaryColor;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../../img/table-top-with-background.jpg');
    // background-blend-mode:darken;
    clip-path: ellipse(100% 50% at 50% 40%);
    font-size: 2rem;
    .admission {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        line-height: 500%;
        font-family: $secondaryFont;
        text-align: center;
        height: 100vh;
        z-index: 10;
        h1 {
            font-size: 89px;
            font-weight: bold;
        }
    }
   
 
}

