.login-modal {
  position: fixed;
  top: 20vh;
  bottom: 10vh;
  left: 20vw;
  right: 20vw;
  z-index: -1;
  @extend %box;

  h3 {
    font-family: $decorativeFont;
    text-align: center;
    font-size: 36px;
    margin: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw;
    height: 70%;

    // background-color: red;
    label {
      font-size: 34px;
    }

    input {
      font-size: 34px;
      padding: 10px;
      margin: 24px;
      border-radius: 5px;
      border: none;
    }

    input[type=submit] {
      @extend %btn;
    }
  }

}