.nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    top: 4%;
    font-family: $decorativeFont;
    font-size: 24px;

    &__access {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 30%;
        margin: 0 5%;

        &--sign-in,
        &--sign-up {
            padding: 10px 5px;
            border: 2px solid $additionalColor;
            border-radius: 10px;
            color: $additionalColor;
        }
    }

    &__options {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 5%;
        flex-basis: 70%;
        color: $primaryColor;

        &--option {
            padding: 5px 30px;
            border-bottom: 2px solid $primaryColor;
            transition-duration: .4s;

            &:hover {
                cursor: pointer;
                color: $additionalColor;
                border-color: $additionalColor;
                transform: scaleX(1.2);
                transform: translateY(10px);
            }
        }
    }
}