.opinions {
  border-top: 1px solid $darkColor;
  box-shadow: 0px -30px 44px -30px rgba(66, 68, 90, 1);

  &__title {
    padding: 24px 0;
    font-family: $decorativeFont;
    font-size: 84px;
    text-align: center;
  }

  &__container {
    text-align: left;
    padding: 50px;

    &:nth-of-type(even) {
      background-color: darken($supportColor, 5%);
    }

    .opinions__opinion {
      font-size: 2rem;
      color: $lightColor;
    }

    .opinions__review {
      text-align: center;
      font-weight: bold;

      .stars {
        font-size: 64px;

        span {
          color: yellow;
        }
      }

      .author {
        font-size: 54px;
        font-family: $titleFont;
      }
    }


  }



}