.home {
  display: flex;
  height: 100vh;
  width: 100%;

  &__account-column {
    @extend %info-column;
  }

  &__control-panel {
    flex-basis: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .control-panel__main-box {
      text-decoration: none;

      h2 {
        font-family: $decorativeFont;
        font-size: 48px;
        color: $primaryColor;
        text-align: center;
        margin-bottom: 15px;
      }

      .menu {
        width: 60vw;
        height: 30vh;
        @include cloud(10px, $darkColor);
        transition-duration: .4s;
        font-family: $decorativeFont;

        justify-content: center;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 24px 2px $primaryColor;
        }

        &__title {
          display: flex;
          height: 100%;
          width: 95%;
          justify-content: center;
          align-items: center;
          font-size: 64px;
          padding: 25px;
          text-align: center;

          .menu-icon {
            padding-right: 15px;
          }

          transition-duration: .4s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .smart-assistant {
        width: 60vw;
        height: 30vh;
        @include cloud(10px, $darkColor);

        &__welcome-message {
          font-size: 34px;
          padding: 25px;
          text-align: center;
        }

        &__response {
          font-weight: bold;
          text-align: center;
          font-size: 64px;
        }
      }
    }

    .control-panel__under-boxes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60vw;

      .under-box {
        width: 25vw;
        height: 15vw;
        transition-duration: .4s;
        text-decoration: none;
        @include cloud(10px, $darkColor);

        .icon:hover {
          transform: scale(1.2);
        }

        &:hover {
          box-shadow: 0px 0px 24px 2px $primaryColor;
        }

        .notifications {
          font-size: 24px;
          text-align: center;
          padding: 5px;
          margin-top: -2vh;

          i {
            padding-right: 10px;
          }

          strong {
            color: $additionalColor;
          }
        }

        h2 {
          transition-duration: .4s;
          padding: 10px;
          font-family: $decorativeFont;
          text-align: center;
          font-size: 32px;
        }

        .icon {
          transition-duration: .4s;
          width: 100%;
          font-size: 84px;
          padding: 10%;
          text-align: center;
        }
      }
    }

    .promotions {
      position: absolute;
      font-size: 16px;
      bottom: 0;
      padding: 20px;
      background-color: $darkColor;
      color: $primaryColor;
      width: 100%;
      text-align: center;
    }
  }
}