.home {
  display: flex;
  height: 100vh;
  width: 100%;

  &__account-column {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include overlay('none', $secondaryColor);

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 5vh;
      border: 5px solid $darkColor;
      box-shadow: 0 0 10px 2px $darkColor;
    }

    h3 {
      font-size: 34px;
      color: $lightColor;
      margin-bottom: 24px;
      padding: 0 10px;
      border-bottom: 2px solid $darkColor;
    }

    .account-column__info {
      display: inline-block;
      font-size: 16px;
      width: 80%;
      margin: 0 auto;

      .single-info {
        margin: 10px;

        i {
          padding-right: 10px;
        }
      }
    }

    .account-column__logout {
      position: absolute;
      bottom: 0;
      margin: 3vh;

      button {
        @extend %btn;
      }
    }
  }

  &__control-panel {
    flex-basis: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .control-panel__main-box {
      h2 {
        font-family: $decorativeFont;
        font-size: 48px;
        color: $primaryColor;
        text-align: center;
        margin-bottom: 15px;
      }

      .menu {
        width: 60vw;
        height: 30vh;
        @extend %box;

        &__title {
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          font-size: 64px;
          padding: 25px;
          text-align: center;

          .icon {
            padding-right: 15px;
          }
        }
      }

      .smart-assistant {
        width: 60vw;
        height: 30vh;
        @extend %box;

        &__welcome-message {
          font-size: 34px;
          padding: 25px;
          text-align: center;
        }

        &__response {
          font-weight: bold;
          text-align: center;
          font-size: 64px;
        }
      }
    }

    .control-panel__under-boxes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60vw;

      .under-box {
        width: 25vw;
        height: 15vw;
        transition-duration: .4s;
        text-decoration: none;
        @extend %box;

        &:hover {
          box-shadow: 0px 0px 24px 2px $primaryColor;
        }

        h2 {
          transition-duration: .4s;
          padding: 10px;
          font-family: $decorativeFont;
          text-align: center;
          font-size: 32px;
        }

        .icon {
          transition-duration: .4s;
          width: 100%;
          font-size: 84px;
          padding: 10%;
          text-align: center;
        }
      }
    }

    .promotions {
      position: absolute;
      font-size: 16px;
      bottom: 0;
      padding: 20px;
      background-color: $darkColor;
      color: $primaryColor;
      width: 100%;
      text-align: center;
    }
  }
}