.settings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .options__data,
    .options__opinion,
    .options__avatar {
      @include cloud(10px, $darkColor);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30vh;
      height: 30vh;
      margin: 1vh;
      transition-duration: .4s;

      .fa {
        margin: auto 0;
        font-size: 10vh;
      }

      div {
        font-family: $decorativeFont;
        font-size: 24px;
        padding: 2vh;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 24px 2px $primaryColor;
      }
    }
  }

  &__view {
    @include cloud(10px, $darkColor);
    height: 94vh;
    width: 75%;

    h3 {
      text-align: center;
      font-size: 68px;
    }
  }

  .avatar-settings {
    img {
      @extend %img;
      display: block;
      margin: 10vh auto;
    }

    button {
      @extend %btn;
      display: block;
      margin: 10vh auto;
    }
  }

  .data-settings {
    font-size: 24px;
    margin: 5vh 10vh;

    .show-settings {
      position: relative;
      width: 100%;
      margin: 5vh auto;
      padding-bottom: 2vh;
      border-bottom: 2px dashed $primaryColor;

      span {
        font-size: 24px;

        strong {
          color: $additionalColor;
        }
      }

      label {
        color: $secondaryColor;
      }

      input {
        @extend %input;
        display: inline-block;
        margin-right: 30px;
        width: 30%;
        height: 30px;
        position: absolute;
        right: 25vh;
        border: 2px solid $additionalColor;

        &:focus {
          border: 2px solid $additionalColor;
          box-shadow: 0 0 5px 5px $additionalColor;
        }
      }

      button {
        @extend %btn;
        position: absolute;
        right: 0;
        font-size: 16px;
        border: 2px solid $secondaryColor;
        box-shadow: 0 0 0 5px $darkColor;
      }
    }

    span {
      display: block;
      line-height: 150%;
    }
  }

  .write-opinion {
    @extend %area;
    margin-top: 5vh;

    .set-area-btn {
      margin: 10vh auto;
    }
  }
}