.settings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  @extend %no-select;

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .options__data,
    .options__opinion,
    .options__avatar {
      @include cloud(10px, $darkColor);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30vh;
      height: 30vh;
      margin: 1vh;
      transition-duration: .4s;

      .fa {
        margin: auto 0;
        font-size: 10vh;
      }

      div {
        font-family: $decorativeFont;
        font-size: 24px;
        padding: 2vh;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 24px 2px $primaryColor;
      }
    }
  }

  &__view {
    @include cloud(10px, $darkColor);
    height: 94vh;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $darkColor;
    opacity: .9;

    h3 {
      text-align: center;
      font-size: 68px;
    }
  }

  .avatar-settings {
    img {
      @extend %img;
      display: block;
      margin: 10vh auto;
    }

    button {
      @extend %btn;
      display: block;
      margin: 10vh auto;
    }
  }

  .data-settings {
    font-size: 24px;
    margin: 5vh 10vh;

    .show-settings {
      position: relative;
      width: 100%;
      margin: 5vh auto;
      padding-bottom: 2vh;
      border-bottom: 2px dashed $primaryColor;

      span {
        font-size: 24px;

        strong {
          color: $additionalColor;
        }
      }

      label {
        color: $secondaryColor;
      }

      input {
        @extend %input;
        display: inline-block;
        margin-right: 30px;
        width: 30%;
        height: 30px;
        position: absolute;
        right: 25vh;
        border: 2px solid $additionalColor;
        transition-duration: .4s;

        &:focus {
          outline: $primaryColor;
          border: 2px solid $additionalColor;
          box-shadow: 0 0 5px 5px $additionalColor;
        }
      }

      button {
        @extend %btn;
        position: absolute;
        right: 0;
        font-size: 16px;
        border: 2px solid $secondaryColor;
        box-shadow: 0 0 0 5px $darkColor;
      }
    }

    span {
      display: block;
      line-height: 150%;
    }
  }

  .write-opinion {
    @extend %area;
    margin-top: 5vh;
  }

  .info {
    transform: scale(0);
    transition-duration: .4s;
    position: fixed;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    top: 0;
    right: 0;
    font-size: 36px;
    margin: 2vh;
    background-color: $darkColor;
    transition-duration: .4s;

    &.success {
      @include message($additionalColor);
      transform: scale(1);
    }

    &.error {
      @include message($redColor);
      transform: scale(1);
    }
  }

  .active-opinion {
    font-size: 24px;
    text-align: center;

    h4 {
      font-size: 36px;
    }
  }

  .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 30px;
    transform: scale(1.5);

    h4 {
      margin-right: 10vh;
    }
  }

  .stars input {
    position: absolute;
    left: -99999px;
  }

  label {
    width: 30px;
    height: 30px;
    padding: 5px;
    color: transparent;
  }

  label[for*='star']::before {
    content: '★';
    color: #c0c0c0;
    font-size: 30px;
    line-height: 30px;
    margin-right: -100%;
  }

  label:hover::before,
  label:hover~label::before,
  .stars input:checked~label::before {
    cursor: pointer;
    color: #ffa500;
  }

  .opinion__container {
    flex-basis: 60%;
    text-align: left;
    padding: 50px;
    max-height: 40vh;
    opacity: 1;
    transition-duration: .4s;
    margin-top: -10vh;

    .opinion__opinion {
      font-size: 2rem;
      color: $lightColor;
      text-align: center;
    }

    .opinion__review {
      text-align: center;
      font-weight: bold;

      .stars {
        font-size: 24px;

        div {
          color: #c0c0c0;
          letter-spacing: 10px;
        }

        span {
          color: yellow;
        }
      }

    }
  }
}