.menu {
	display: flex;
	height: 100vh;
	width: 100%;

	.empty-assortment {
		display: flex;
		width: 100%;
		height: 40vh;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		text-align: center;
	}

	.notification-parent {
		.notification-dependant-hover {
			font-size: 36px;
			margin: 0 20px;

			&--color {
				color: $additionalColor;
			}

			&+.notification-info {
				display: flex;
				justify-content: center;
				align-items: center;
				position: fixed;
				top: 2vh;
				right: 2vw;
				width: 20vw;
				height: 10vh;
				font-size: 24px;
				padding: 1vh;
				z-index: 10;
				transform: scale(0);
				transition-duration: .4s;
				background-color: $darkColor;
				text-align: center;
				border-radius: 10px;
				color: $lightColor;
				border: 3px solid $additionalColor;
				box-shadow: 0px 0px 10px 2px $additionalColor;
			}

			&:hover+.notification-info {
				transform: scale(1);
			}
		}
	}

	&__account-column {
		@extend %info-column;
	}

	&__control-panel {
		width: 70vw;
		height: 90vh;
		margin: 5vh auto;

		h2 {
			font-family: $decorativeFont;
			font-size: 56px;
			text-align: center;
			letter-spacing: 1vh;
			color: $primaryColor;
		}

		.menu__title {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h3 {
				font-size: 44px;
				padding: 10px;
				margin-left: 10px;
				font-family: $decorativeFont;
			}

			i {
				font-size: 48px;
				padding: 10px;
				transition-duration: .4s;

				&:hover {
					cursor: pointer;
					color: $additionalColor;
				}
			}
		}


		.menu__edit {
			overflow-y: scroll;
			margin: 2vw;
			height: 80vh;
			@include cloud(10px, $darkColor);
			background-color: $darkColor;
			opacity: .8;

			.fa-refresh,
			.fa-times {
				transition-duration: .4s;

				&:hover {
					cursor: pointer;
					color: $secondaryColor;
					transform: rotate(90deg);
				}
			}


			ul {
				list-style: none;

				li {
					position: relative;
					border: 2px solid $additionalColor;
					padding: 2vw;
					margin: 1vh;
					border-radius: 10px;
					background-color: darken($darkColor, 5%);

					.content {
						font-size: 28px;
						font-weight: bold;
					}

					.price {
						font-size: 22px;
						color: $additionalColor;
					}

					.fa-times {
						font-size: 44px;
						position: absolute;
						right: 5vw;
						top: 0;
						bottom: 0;
						margin: auto 0;
						height: 5vh;
					}

					&.add-item {
						width: 25%;
						text-align: center;
						font-size: 44px;
						transition-duration: .4s;

						.fa-plus {
							font-size: 84px;
							transition-duration: .4s;

							&:hover {
								cursor: pointer;
								transform: rotate(90deg);
							}
						}
					}
				}
			}
		}
	}
}