.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: -10;
  transition-duration: .4s;
  opacity: 0;

  &__content {
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    width: 60vw;
    height: 80vh;
    margin: auto;
    border-radius: 5px;
    background-color: $darkColor;
    box-shadow: 8px 8px 24px 0px $darkColor;
    transition-duration: .4s;
    transform: scale(0);

    .fa-times {
      position: absolute;
      right: -2vw;
      top: -2vw;
      font-size: 42px;
      color: $primaryColor;
      transition-duration: .2s;

      &:hover {
        cursor: pointer;
        color: $secondaryColor;
        transform: rotate(90deg);
      }
    }
  }

  &__logo {
    position: absolute;
    right: 0;
    left: 0;
    margin: 10vh auto;
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10vh auto;

    button {
      @extend %btn;
      width: 40%;

      &:first-of-type {
        color: $primaryColor;
        border-color: $primaryColor;

        &:hover {
          color: $secondaryColor;
          border-color: $secondaryColor;
          box-shadow: 0 0 10px 2px $secondaryColor;
        }
      }
    }
  }

  h3 {
    font-family: $decorativeFont;
    text-align: center;
    font-size: 36px;
    color: $primaryColor;
    border-bottom: 2px solid $additionalColor;
    padding: 2vh;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    padding: 2vh;
    background-blend-mode: overlay;
    background-size: cover;

    margin: auto;

    textarea {
      text-align: center;
      background-color: $lightColor;
      color: $darkColor;
      font-size: 24px;
      padding: 10px;
      margin: 24px;
      border-radius: 5px;
      border: 2px solid $primaryColor;
      transition-duration: .4s;
      width: 100%;
      opacity: 0.8;

      &:focus {
        outline: none;
        border-color: $primaryColor;
        box-shadow: 0 0 10px 2px $primaryColor;
      }

      &::placeholder {
        color: $darkColor;
      }
    }

    input {
      text-align: center;
      background-color: $lightColor;
      color: $darkColor;
      font-size: 24px;
      padding: 10px;
      margin: 24px;
      border-radius: 5px;
      border: 2px solid $primaryColor;
      transition-duration: .4s;
      width: 100%;

      &[type=text],
      &[type=password],
      &[type=mail],
      &[type=date],
      &[type=number] {
        opacity: .8;

        &::placeholder {
          color: $darkColor;
        }
      }

      &:focus {
        outline: none;
        border-color: $primaryColor;
        box-shadow: 0 0 10px 2px $primaryColor;
      }
    }


  }

  .return-info {
    text-align: center;
    font-size: 36px;
    color: $additionalColor;
    font-weight: bold;
  }

  input[type=button] {
    display: block;
    margin: 0 auto;
    @extend %btn;
  }

  .product {
    width: 70%;
    text-align: center;
    font-size: 34px;
    color: $secondaryColor;
    margin: 6vh auto;
    border: 2px solid $additionalColor;
    border-radius: 10px;
    background-color: darken($darkColor, 2%);

    .delivery-status {
      .btn-group {
        display: flex;

        button:first-of-type {
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          @extend %btn;

          &.active {
            color: $primaryColor;
            border: 2px solid $primaryColor;
            box-shadow: 0 0 4px 1px $primaryColor;
          }
        }

        button:last-of-type {
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          @extend %btn;

          &.active {
            color: $primaryColor;
            border: 2px solid $primaryColor;
            box-shadow: 0 0 4px 1px $primaryColor;
          }
        }
      }
    }

    .current-delivery-cost {
      font-size: 24px;
      color: $primaryColor;
      margin-bottom: 10px;

      strong {
        color: $additionalColor;
      }

      .red {
        color: $redColor;
      }


    }

    &__name {
      color: $secondaryColor;
    }

    &__price {
      color: $additionalColor;
      font-size: 28px;
    }

    &__description {
      color: lighten($supportColor, 15%);
      font-size: 24px;
    }

    &__to {
      font-family: $decorativeFont;
      color: $primaryColor;
      text-align: center;
      font-size: 34px;
      margin-top: 5vh;

    }

    label {
      font-family: $decorativeFont;
    }
  }

  .delivery-modal {
    .delivery-settings {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: $primaryColor;
      margin: 20px 10px;

      &__element {
        width: 23%;
        font-size: 24px;
        padding: 15px;
        text-align: center;
        border: 2px solid $primaryColor;
        border-radius: 5px;
        box-shadow: 0 0 4px 1px $primaryColor;
        transition-duration: .4s;

        .fa {
          font-size: 46px;
        }

        &:hover {
          cursor: pointer;
          color: $additionalColor;
          border-color: $additionalColor;
          border-radius: 5px;
          box-shadow: 0 0 4px 1px $additionalColor;
        }
      }
    }
  }
}