.competitors {
  position: relative;
  height: 100vh;

  .searchbox {
    @extend %searchbar;
  }

  .promotion-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .create-promo {
      @extend %area;
      @include cloud(10px, $darkColor);

      .active-promo {
        width: 100%;

        font-size: 2rem;

        h4 {
          text-align: center;
        }

        p {
          width: 100%;
          display: block;
          padding: 1rem;
          hyphens: auto;
          text-align: center;
        }
      }
    }

    .competitors-list {
      overflow-y: scroll;
      margin: 2vw;
      flex-basis: 100vh;
      height: 80vh;
      text-decoration: none;
      @include cloud(10px, $darkColor);
      @extend %list;
      background-color: $darkColor;
      opacity: .8;

      & .list-item {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        transition-duration: .4s;

        .restaurant {
          display: flex;
          flex-basis: 90%;
          align-items: center;
        }

        img {
          margin-right: 20px;
        }

        i {
          position: absolute;
          right: 1vw;
        }

        &:hover {
          cursor: pointer;
          background-color: $additionalColor;
        }
      }



      &__title {
        font-size: 34px;
        padding: 20px;
        font-family: $decorativeFont;
        text-align: center;
      }

      .content-info {
        p {
          font-size: 16px;
          padding: 10px;
          // text-align: center;
        }
      }
    }
  }

  &__result {
    color: $primaryColor;
    position: absolute;
    bottom: 1vh;
    right: 2vw;
    font-size: 28px;
    font-weight: bold;
    font-family: $decorativeFont;

    span {
      color: $additionalColor;
    }
  }
}