.orders {
  position: relative;
  height: 100vh;

  .searchbox {
    @extend %searchbar;
  }

  .row-view {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .column-view {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .searching-options {

        width: 25vw;
        height: 58vh;
        margin-bottom: 2vh;
        @include cloud(10px, $darkColor);
        opacity: .95;
        background-color: $darkColor;

        &__title {
          font-size: 34px;
          padding: 20px;
          font-family: $decorativeFont;
          text-align: center;

          span {
            padding-left: 10px;
          }
        }

        label {
          margin: 20px 40px;
          font-size: 21px;
          width: 40%;
          display: inline-block;
        }
      }

      .expenses {
        width: 25vw;
        height: 20vh;
        @include cloud(10px, $darkColor);
        opacity: .95;
        background-color: $darkColor;

        .loading-message {
          display: flex;
          height: 100%;
          align-items: center;
          font-size: 24px;
          text-align: center;

        }

        span {
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          font-size: 32px;

          i {
            color: $additionalColor;
            padding: 0 10px;
          }
        }
      }
    }


    .orders__order-list {
      margin: 2vw;
      flex-basis: 100vh;
      height: 80vh;
      @include cloud(10px, $darkColor);
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: $darkColor;
      opacity: .95;

      h3 {
        font-size: 34px;
        padding: 20px;
        font-family: $decorativeFont;
        text-align: center;
      }

      .empty-orders {
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        text-align: center;
      }

      .orders__single-order {
        display: flex;
        margin: 25px;
        padding: 25px;
        background-color: darken($fontColor, 20%);
        border: 2px solid $primaryColor;
        box-shadow: 0 0 8px 0 $primaryColor;
        border-radius: 5px;
        opacity: 1;

        .single-order__information {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .logo-part {
            margin-bottom: 20px;

            img {
              width: 150px;
              height: 150px;
              border-radius: 50%;
              border: 1px solid $primaryColor;
              box-shadow: 0 0 7px 2px $primaryColor;
            }
          }

          .info-part {
            font-size: 24px;

            .order-paid,
            .order-message,
            .order-date {
              strong {
                color: $additionalColor;
              }
            }
          }
        }



        .items-part {
          width: 60%;

          h4 {
            font-family: $decorativeFont;
            font-size: 36px;
          }

          ul {
            margin-left: 25px;

            li {
              font-size: 24px;
              color: $secondaryColor;
            }
          }
        }


      }
    }
  }

  .radio-container {
    .radio {
      margin: 0.5rem;

      input[type="radio"] {
        position: absolute;
        opacity: 0;

        +.radio-label {
          &:before {
            content: '';
            background: lighten($fontColor, 40%);
            border-radius: 100%;
            border: 1px solid $darkColor;
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            position: relative;
            top: -0.2em;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
          }
        }

        &:checked {
          +.radio-label {
            &:before {
              background-color: $primaryColor;
              box-shadow: inset 0 0 0 4px $darkColor;
            }
          }
        }

        &:focus {
          +.radio-label {
            &:before {
              outline: none;
              border-color: $primaryColor;
            }
          }
        }

        +.radio-label {
          width: 80%;

          &:empty {
            &:before {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}