@mixin tooltip ($content, $color) {
    content: $content;
    display: block;
    background-color: $color;
    width: 6rem;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 6px;
    color: $lightColor;
    position: absolute;
    bottom: -80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: scale(0);
    transition-duration: .4s;
}

@mixin overlay($radius, $color) {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        opacity: .8;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        background-color: $color;
        border-radius: $radius;
    }

    &:hover h2,
    &:hover .icon {
        cursor: pointer;
        transform: scale(1.2);
        letter-spacing: 2px;
    }
}