%tooltip {
  .tooltip {
    position: relative;
    display: inline-block;

    &:hover .tooltip-text {
      transform: scale(1);
    }

    & .tooltip-text {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0);
      width: 120px;
      height: 40px;
      background-color: $darkColor;
      color: $lightColor;
      text-align: center;
      padding: 5px 10px;
      border-radius: 6px;
      font-size: 2rem;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 120%;
      transition-duration: .4s;

      &::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -7px;
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent transparent $darkColor;
      }
    }
  }
}

%btn {
  font-size: 24px;
  width: 200px;
  padding: 10px;
  background-color: $darkColor;
  border: 2px solid $secondaryColor;
  font-family: $decorativeFont;
  color: $secondaryColor;
  border-radius: 5px;
  transition-duration: .4s;

  &:hover {
    cursor: pointer;
    color: $primaryColor;
    border-color: $darkColor;
    box-shadow: 0 0 10px 2px $primaryColor;
  }
}

%list {
  list-style: none;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 25px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    h4 {
      font-size: 22px;
      padding-left: 10px;
    }
  }
}

%searchbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $darkColor;
  height: 10vh;

  .logo {
    position: fixed;
    top: 1vh;
    left: 3vw;
    width: 6%;
    height: 8%;
  }

  .searchbar {
    position: relative;
    display: flex;

    width: 70%;
    margin: 2vh auto;

    .fa-search {
      position: absolute;
      top: 6px;
      left: 8px;
      width: 14px;
      font-size: 24px;
    }

    .fa-times-circle {
      position: absolute;
      top: .7vh;
      right: 2vh;
      width: 10px;
      cursor: pointer;
      font-size: 24px;
    }

    .search-input {
      border: none;
      border-radius: 10px;
      height: 4vh;
      width: 100%;
      padding: 2px 23px 2px 30px;
      outline: 0;
      background-color: $lightColor;
      text-align: center;
      transition-duration: .4s;

      &:hover,
      &:focus {
        border: 1px solid $additionalColor;
        box-shadow: 0px 0px 24px 0px $additionalColor;
        background-color: white;
      }
    }
  }
}

%img {
  width: 250px;
  height: 230px;
  border-radius: 50%;
  margin-top: 2vw;
  border: 2px solid $primaryColor;
  transition-duration: .4s;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px $additionalColor;
  }
}

%input {
  display: block;
  margin: 0 10%;
  width: 80%;
  height: 50%;
  background-color: $darkColor;
  color: $lightColor;
  font-size: 24px;
  padding: 1vw;
  border-radius: 5px;

  &:focus {
    box-shadow: 0px 0px 05px 1px $primaryColor;
  }
}

%area {
  flex-basis: 25%;
  height: 80vh;
  text-decoration: none;

  .create-area__title {
    font-size: 34px;
    padding: 20px;
    font-family: $decorativeFont;
    text-align: center;

    span {
      padding-left: 10px;
    }
  }

  .area-content {
    @extend %input;
    resize: none;
  }

  .set-area-btn {
    display: block;
    width: 50%;
    margin: 30% auto;
    @extend %btn;
  }
}