%box {
  border-radius: 10px;
  color: $secondaryColor;
  box-shadow: 0px 0px 24px 2px $fontColor;
  @include overlay(10px, $darkColor);
}

%btn {
  font-size: 24px;
  width: 200px;
  padding: 10px;
  background-color: $darkColor;
  border: 5px solid $primaryColor;
  box-shadow: 0 0 0 10px $darkColor;
  font-family: $decorativeFont;
  color: $primaryColor;
  border-radius: 5px;
}