@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Lobster&family=Prompt&display=swap');

$primaryColor: #fdab07;
$secondaryColor: #f06101;
$additionalColor: #46802b;
$supportColor: #045659;
$fontColor: #404040;
$darkColor: #03161d;
$lightColor: #cecece;
$redColor: #b80000;
$primaryFont: 'Prompt',
sans-serif;
$decorativeFont: 'Lobster',
cursive;
$titleFont: 'Ingrid Darling',
cursive;