@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Prompt&display=swap');

$lightPrimaryColor: #D91414;
$primaryColor: #BF1111;
$darkPrimaryColor: #590B0B;
$fontColor: #404040;
$darkColor: #0D0D0D;

$primaryFont: 'Prompt', sans-serif;
$secondaryFont: 'Indie Flower', cursive;
$decorativeFont: 'Lobster', cursive;
